<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mica - Register</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
		<link href="/static/css/all.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
		<link href="/static/css/register.css" rel="stylesheet" />
	</head>

	<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
			{% include 'alert.html' %}
            <form action="" method="post">
              <div class="form-group"><label class="small mb-1" for="inputUsername">Username</label><input class="form-control py-4" id="inputUsername" type="text" placeholder="Enter Username" name="username" required/></div>
              <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" name="password" required/></div>
              <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirm Password</label><input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Re-Enter Password" name="confirmpassword" required/></div>
              <div class="form-group"><label class="small mb-1" for="inputEmail">Email</label><input class="form-control py-4" id="inputEmail" type="text" placeholder="Enter Email" name="email" required/></div>
              <div class="form-group"><label class="small mb-1" for="inputLicense">Phone</label><input class="form-control py-4" id="inputLicense" type="text" placeholder="Enter Phone Number" name="phone" required/></div>
              <div class="form-group"><label class="small mb-1" for="inputLicense">Invite Code</label><input class="form-control py-4" id="inputLicense" type="text" placeholder="Enter Your Invite Code" name="invitecode" required/></div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><input type="submit" class="btn btn-primary" value="Register"></div>
            </form>
            <a href='{{data.referrer}}'>Back to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>