<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mica - Home</title>
		<link href="../static/css/style.css" type="text/css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="bg-primary navbar">
        <div class="row" style="float: none; margin: 0 auto;">
                <a href="#" class="btn btn-light btn-circle btn-lg">
                    <i class="fas fa-trash"></i>
                </a>
                <a href="#" class="btn btn-light btn-circle btn-lg" style=" ">
                    <i class="fas fa-circle" style="color: #e00000 ;"></i>
                </a>
                <a href="#" class="btn btn-light btn-circle btn-lg">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
